
/*****************处理整体样式****************/
*{margin: 0; padding: 0}

/*******************顶部区域**********************/
.top{
  height: 100px;
  width: 100%;
}
.top h2{
  padding: 32px 0 0 15px;
  color:#666;
}
.box{
  border-top: 1px solid #D9D9D9;
  display: flex;
  justify-content: space-around;
}


/*****************左边部分样式*********************/
.left{
  width:20%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tab{
  width: 90px;
  height: 90px;
  margin: 10px 0;
  cursor: pointer;
  box-sizing: border-box;
}
.tab:hover{
  border: 1px solid #333;
}
.img{
  width: 66px;
  height: 66px;
}
.img img{
  margin-left: 26px;
  margin-top: 29px;
}
.title{
  width: 100%;
  height: 24px;
  line-height: 24px;
  text-align: center;
}


/*****************中间部分样式*********************/
.center{
  width:40%;
  height: 100%;
  box-sizing: border-box;
  background-color: #858585;
  padding: 50px 20px;
}
.content{
  box-sizing: border-box;
  background-color: #333;
  width: 100%;
}

.tu{
  width: 100%;
  border: 1px solid red;
  height: 100px;
  cursor: pointer;
}




/*****************右边部分样式*********************/
.right{
  width:40%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
}
.rConent{
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}
.rConent span{
  float: left;
  margin-right: 10px;
}

.rConent textarea{
  width: 70%;
  height: 100px;
}
